/* css/style.css */

@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600");

@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f4f9fc;
  color: #2c3e50;
}

h1, h2, h3 {
  margin: 0;
}

a {
  text-decoration: none;
}